<div class="grid h-screen px-4 place-content-center bg-[url('https://onedrive.live.com/embed?resid=B3617E53BCF30304%21139&authkey=%21APS3ignIzQGcFxY&width=2340&height=1200')]">
    <h1 class="tracking-widest text-gray-500 uppercase dark:text-gray-400 text-3xl">
      404 | NO HAY NADA AQUI
    </h1>
  </div>
  