<div class="grid h-screen px-4 place-content-center bg-[url('https://onedrive.live.com/embed?resid=B3617E53BCF30304%21139&authkey=%21APS3ignIzQGcFxY&width=2340&height=1200')]">
  <div class="absolute inset-0 bg-gradient-to-t from-transparent to-black"></div>
  <h1 class="tracking-widest text-gray-500 uppercase dark:text-gray-400 text-3xl">
    404 | NO HAY NADA AQUI
  </h1>
</div>
