---
import HeaderLink from '@/components/HeaderLink'
import KantutaIcon from './icons/kantuta.astro'
import BitlabIcon from './icons/BitLab.astro'
const today = new Date();
---

<footer class="bg-white dark:bg-midnight mt-20">
	<div
		class="relative mx-auto max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8 lg:pt-24"
	>
		<div class="lg:flex lg:items-end lg:justify-between">
			<div>
				<div
					class="flex justify-center text-teal-600 dark:text-teal-300 lg:justify-start"
				>
					<BitlabIcon />
				</div>
				<p class="flex items-center gap-1 text-2xl md:text-base mt-10">
					Hecho con<KantutaIcon />en Bolivia.
				</p>
			</div>

			<ul
				class="mt-12 flex flex-wrap justify-center gap-6 md:gap-8 lg:mt-0 lg:justify-end lg:gap-12"
			>
				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
						href="/"
					>
						About
					</a>
				</li>

				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
						href="/"
					>
						Services
					</a>
				</li>

				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
						href="/"
					>
						Projects
					</a>
				</li>

				<li>
					<a
						class="text-gray-700 transition hover:text-gray-700/75 dark:text-white dark:hover:text-white/75"
						href="/"
					>
						Blog
					</a>
				</li>
			</ul>
		</div>

		<p
			class="mt-12 text-center text-sm text-gray-500 dark:text-gray-400 lg:text-right"
		>
			Copyright &copy; 2022. All rights reserved.
		</p>
	</div>
</footer>
